#clockcontainer
{
    margin: auto;
    border: solid rebeccapurple;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    position: relative;

}

#hour, #minute, #second
{
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;

}
#hour
{
    height: 21.5%;
    width: 1.7%;
    top: 29%;
    left: 49%;
    background: black;
    /* display: none; */

}
#minute
{
    height: 23%;
    width: 1%;
    top: 28%;
    left: 49.2%;
    /* display: none; */
    background:black;

}
#second
{
    height: 24%;
    width: 1%;
    top: 27%;
    left: 49.3%;
    /* display: none; */
    background: red;
}